
.signup-container {   
    max-width: 420px;
    margin: 0 auto;
    margin-top: 40px;
    min-height: 800px;
    
    justify-content: center;
}

.signup-form-button {
    width: 100%;
    min-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffff00;
    background-color: #1890ff;
    border-color: #1890ff;
}

.signup-form-button[disabled], .signup-form-button[disabled]:hover, .signup-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}

.signup-form input {
    margin-bottom: 3px;
}