.shopping-cart-list{
    background: rgb(235, 249, 253);
    padding: 0 auto;
    max-width: 600px;
    min-height: 100px;
    margin: 2rem 20%;
    border: none;
}


.pay{
    margin-left: 5%;
}

.header-text{
    font-weight: 300;
    font-size: 24pt;
}

.pay-text{
    font-size: 20pt;
    font-weight: 400;
}

.warn-text{
    
    color: #ff0000;
    
    
}

.cart-inline{
    display: inline-block;
    width: 40%;
}

.suka{
    
    margin-left: 20%;  
    
}

.cart-row-elems{
    display: flex;
}

.elem{
    display: inline-block;
    width: 30%;
    background: red;
}

.parent{
    display: flex;
     justify-content: center; 
}

.bbtn{
    margin-left: 1%
}

.pict{
    opacity: 0.5;
}

.a{
    text-decoration: none
}

.a:hover { text-decoration: none; }

.pic {
    max-width: 150px;
    max-height: 150px;
    padding: 1rem 0 1rem 1rem;
    display: inline-block;
}

cardtext {
    width: 50px;
    float: right;
}

.details{
    min-width: 300px;
    margin-right: 30%;
    color: #5e5e5e;
    font-size: 12pt;
}

.cost{
    margin-right: 20px;
    
}

.info{
    font-size: 16pt;
    color: #393939;
    font-weight: 200
}
