/* .product-list {
    display: inline-block;
    border: 1px solid purple;
} */

.table {
    padding: 0 20%
}

.product-btn{
    width: 200px;
}

.img{
    height: 200px;
    width: 200px
}

.row-product-elems{
    display: flex;
}

.product-picture{
    width: 100%;
}

.product-body{
    margin-left: 5% 
}

.product-description
{
    font-weight: 100;
    font-size: 20pt;
    color: #696969
}

.product-text-header{
    display: inline-block; 
    font-weight: 300;
    font-size: 30pt;
}

.product-price{
    font-weight: 100;
    font-size: 24pt;
}