.infochange{
    display: flex;
    justify-content: center;
}

.profilePic{
    display: flex;
    justify-content: center;      
}

.profileName{
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 24pt;
}

.user-role{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #eb2b9b
}

.username{
    display: flex;
    justify-content: center; 
    font-size: .875rem;
    color: #3d3c3c;
}

.modal{
    /* height: 30vh;
    width: 30vh; */
    height: 50px;
    width: 50px;
}

.round{
    border-radius: 200px;
    height: 100px;
    width: 100px
}

.money{
    display: inline-block;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
}

.money-text{
    margin-left: 2rem;
    color: #656565;
}

.money-button{
    margin-left: 2rem;
    padding: 0;
    
}

.aaaaaaaa{
    margin-left: 10%;
    margin-top: 2%;
}