.content{
    
    flex-direction: column;
    justify-content: center;
    min-height: 450px;
    margin: 2rem auto;
    box-sizing: border-box;
    max-width: 600px;
}

.text{
    color:
#000;
font-weight: 200;
font-size: 1.0rem;
margin: 2rem 0;
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.pic{
    
    height: 10%;
    width: 10%

}

.header{
    color:
#40b0cf;
font-weight: 800;
font-size: 4.2rem;
}
.btn{
    
    padding-left: 3rem !important;
    text-decoration: none;
    padding-right: 3rem !important;
    margin-right: 1rem !important;
}