.center{
    display: inline-block;
    /* justify-content: center; */
    max-width: 30%;
    margin-left: 20%
}

.text-header{
    display: inline-block; 
    font-weight: 300;
    font-size: 24pt;
}