/* Add a black background color to the top navigation */
.top-nav {
    align-items: center;
    position: sticky;
  top: 0;
  z-index: 1040;
}

.topnav a{
    text-decoration: none
    ;
}

.topnav a:hover{ 
    text-decoration: none; 
   }

   .back-color{
    background-color: #20232a;
   }

/* Style the links inside the navigation bar */
