.content{
    
    flex-direction: column;
    justify-content: center;
    min-height: 450px;
    margin: 2rem auto;
    box-sizing: border-box;
    max-width: 600px;
}

.text{
    color:
#000;
font-weight: 200;
font-size: 1.5rem;
margin: 2rem 0;
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.header{
    color:
#40b0cf;
font-weight: 800;
font-size: 4.2rem;
}
.btn{
    
    padding-left: 3rem !important;
    text-decoration: none;
    padding-right: 3rem !important;
    margin-right: 1rem !important;
}

.inline-home{
    display: inline-block;
    width: 40%
}

.left-menu{
    height: calc(100vh - 4rem);
    width: 15%;
    background-color: #f7f7f7;
    border-right: 1px solid #ececec;
    position: sticky;
    top: 4rem;
    z-index: 1000;
}

.search-bar{
    
    padding-top: 1rem !important;
}

.left-menu-narrow{   
    margin-left: 5%;
    margin-right: 5%;
}

.menu-border{
    border-top: 1px solid #ececec;
}

.row-elems{
    display: flex;
}

.products{
    width: 85%;
    margin-top: 2%
}

.color-yellow{
    color: yellow;
}

.color-green{
    color: greenyellow
}

.color-red{
    color: red
}

.hello{
    display: flex;
    justify-content: center;  
     
}

.vert{
    margin: 10% 0 
}



