.info{
    font-size: 16pt;
    color: #393939;
    font-weight: 200
}

.text-header{
    display: inline-block; 
    font-weight: 300;
    font-size: 24pt;
}

.window{
    display: flex;
    justify-content: center;  
}

.order{
    /* max-width: 1000px; */
    background: #F8F8F8;
    
}

.border{
    border-left: 2px solid
}

.cost{
    margin-right: 20px;
    
}

.sell-table{
    position: relative;
    right: 0;
    margin-left: 20%;   
}

.digits-red{
    color: #e45656;
    font-size: 24pt;
}

.digits-green{
    color: #4ed17a;
    font-size: 24pt;
}

.details{
    min-width: 300px;
    margin-right: 30%;
    color: #5e5e5e;
    font-size: 12pt;
}

.qty{
    min-width: 300px;
    margin-left: 30%;
   
}

.inline{
    display: inline-block;
    width: 40%
}